.row {
  display: flex;
}

.left { 
  flex: 1;
}

.right {
  flex: 1;
}

nav {
  height: 140px;
}

.work {
  height: 280px;
  width: 420px;
  border-radius: 30px;
  box-shadow: 0px 0px 180076;
  box-shadow: 0 0 30px rgba(24, 0, 118, 0.1);
}

.chloe-pic {
  height: 455px;
  background-image: url(../img/chloe-pic.png);
  border-radius: 20px;
  background-position: center; 
  background-size: 100% auto
}

.margin-bottom-md {
  margin-bottom: 40px;
}

.margin-bottom-lg {
  margin-bottom: 80px;
}

.margin-top-xlg {
 margin-top: 120px
}

.intro {
  text-align: center;
}

.main-title {
  font-weight: bold;
  color: rgb(24, 0, 118);
  font-size: 48px;
}

.subtext {
  font-size: 18px;
  color: rgb(24, 0, 118);
}

.title {
  font-weight: bold;
  color: rgb(24, 0, 118);
  font-size: 18px;
  margin-left: 10px;
}

img {
}

/* add extra margin to work blocks on xs screensize */