html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.header {
  position: relative;
}

.intro__heading {
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: #4a4a4a;
  line-height: 0.8em;
}

.text-minor {
  font-weight: 400;
  font-size: 16px;
  color: #797979;
}

.new-section {
  padding-top: 50px;
}

.intro__desc {
  max-width: 370px;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 400;
  color: #797979;
  text-align: center;
  line-height: 1.5em;
}

.nav {
  text-align: right;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;

}
.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  color: #797979;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: border-color 0.15s;
}

.nav-class {
  padding-bottom:3px;
}

.nav-item:hover {
  border-color: #FFE6E4;
}

.chloe-img {
  display: block;
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-family: 'Montserrat', sans-serif;
  color: #686868;
  font-size: 30px;
}

.block {
  cursor: pointer;
}

.block:hover .square {
  transform: scale(1.03);
}

.block__heading, .block__desc {
  text-align: center;
}

.block__heading {
  color: #4a4a4a;
  margin-bottom: 5px;
}

.block__desc {
  margin-top: 0;
  color: #797979;
}

.square {
  height: 220px;
  border-radius: 12px;
  transition: transform 0.15s;
}

.square1 {
  border: 10px solid #FFE6E4;
}

.square2 {
  border: 10px solid #FFF5D6;

}
.square3 {
  border: 10px solid #E8FCFF;

}
.square4 {
  border: 10px solid #E4FFF4;
}

.center-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#CIBC-img {
  border-radius: 12px;
  width: 90px;
}

#QTS-img {
  border-radius: 12px;
  width: 100px;
}

#Veeva-img {
  border-radius: 12px;
  width: 160px;
}

footer {
  margin: 70px 0 30px 0;
  text-align: center;
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .square {
    margin-top: 20px;
  }
}
