.spacing-bottom--none {
  margin-bottom: 0;
}

.spacing-top--xlg {
  margin-top: 75px;
}

.spacing-top--lg {
  margin-top: 50px;
}

.spacing-top--md {
  margin-top: 30px;
}

.spacing-top--small {
  margin-top: 10px;
}

.spacing-top--xsmall {
  margin-top: 5px;
}

.spacing-vertical--none {
  margin-top: 0;
  margin-bottom: 0;
}

.spacing-padding-bottom--xlg {
  padding-bottom: 75px
}


.spacing-padding-bottom--lg {
  padding-bottom: 50px
}

.spacing-padding-bottom--md {
  padding-bottom: 30px
}


.spacing-margin-bottom--md {
  margin-bottom: 50px;
}

.spacing-margin-bottom--sm {
  margin-bottom: 15px;
}

.spacing-margin-bottom--xlg {
  margin-bottom: 75px
}

.spacing-margin-bottom--lg {
  margin-bottom: 50px
}

.spacing-margin-bottom--md {
  margin-bottom: 50px;
}

.spacing-margin-bottom--sm {
  margin-bottom: 15px;
}